@using Newtonsoft.Json
@using OKC.Core.Models
@using OKC.Infrastructure.Services
@using OKC.Models
@using OKC.Services
@inherits LayoutComponentBase
@inject SearchTabsState SearchTabsState
@inject ElasticsearchService ElasticService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var dir = Path.GetFullPath(@"..\..\outputs");

        if (!Directory.Exists(dir))
            return;

        var tabs = new List<SearchTab>();

        foreach (var file in Directory.GetFiles(dir, "*.json"))
        {
            var indexName = "questions_" + Path.GetFileNameWithoutExtension(file).ToLowerInvariant();
            var tab = new SearchTab
            {
                FilePath = file,
                TabTitle = Path.GetFileName(file),
                IndexName = indexName
            };

            var json = await File.ReadAllTextAsync(file);
            var questions = JsonConvert.DeserializeObject<List<Question>>(json);
            if (questions != null)
            {
                await ElasticService.IndexQuestionsAsync(questions, indexName, recreate: true);
            }

            tabs.Add(tab);
        }

        SearchTabsState.SetTabs(tabs);

    }
}