@using OKC.Models
@using OKC.Services
@inject NavigationManager NavigationManager
@inject SearchTabsState SearchTabsState

@if (SearchTabsState.Tabs.Count == 0)
{
	<p>Нет вкладок</p>
}
else
{
	<div>
		@foreach (var tab in SearchTabsState.Tabs)
		{
			<button class="@(tab == SearchTabsState.ActiveTab ? "active-tab" : "")"
			        @onclick="() => NavigateToSearch(tab)">
				@Path.GetFileNameWithoutExtension(tab.TabTitle)
			</button>
		}
	</div>
}

@code {
	void NavigateToSearch(SearchTab tab)
	{
		var encodedTab = Uri.EscapeDataString(tab.TabTitle);
		NavigationManager.NavigateTo($"/search?tab={encodedTab}");
	}
}